<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="onSubmit()">
    <ion-list>
            
      <ion-item>
        <ion-label position="stacked">Titulo</ion-label>
        <ion-input [(ngModel)]="tarefa.titulo" name="titulo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Descrição</ion-label>
        <ion-textarea [(ngModel)]="tarefa.descricao" name="descricao"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label>Concluída</ion-label>
        <ion-checkbox slot="start" [(ngModel)]="tarefa.concluida" name="concluida"></ion-checkbox>
      </ion-item>
      
      <ion-item *ngIf="tarefa.foto" >
        <ion-card>
          <img src="data:image/jpeg;base64,{{tarefa.foto}}" alt="Foto">
          <ion-card-content>
            <ion-button size="small" color="danger" (click)="removerFoto()">Excluir</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>

    <div margin-vertical>
      <ion-button color="primary" expand="block" type="submit">Salvar</ion-button>
    </div>
  </form>

</ion-content>