<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Concluídas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <app-tarefa-list [tarefas]=tarefas [permitirConcluir]=false></app-tarefa-list>
</ion-content>