<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Caixa de entrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <app-tarefa-list [tarefas]=tarefas [permitirConcluir]=true></app-tarefa-list>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/tarefas/nova']" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>