<ion-list>

  <ion-item-sliding *ngFor="let tarefa of tarefas">
    <ion-item-options side="start">
      <ion-item-option color="secondary" *ngIf="permitirConcluir" (click)="concluirTarefa(tarefa)">Concluir</ion-item-option>      
      <ion-item-option color="tertiary" (click)="tirarFoto(tarefa)">Foto</ion-item-option>
    </ion-item-options>
    
    <ion-item>
      <ion-label>
        <h1>{{tarefa.titulo}}</h1>
        <div text-wrap>
          {{tarefa.descricao}}
        </div>
      </ion-label>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="secondary" (click)="editar(tarefa)">Editar</ion-item-option>
      <ion-item-option color="danger" (click)="deletar(tarefa)">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

</ion-list>