<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-icon name="add-circle-outline"></ion-icon>
  <ion-button (click)="clickBotao()">Default</ion-button>

</ion-content>